<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/rcangus/index.json" />
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rcangus" />
            <add key="ClearTextPassword" value="ba09278864ed32ef18712506a64ded7908cc1660" />
        </github>
    </packageSourceCredentials>
</configuration>