<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Env" value="DEM"/>
    <add key="HangfireWorkerCount" value="10"/>
    <add key="UserToRecordAgainst" value="LOGSVC"/>
    <add key="EventLogServiceName" value="DCS.ATOGnericService"/>
    <!--<add key="LogFilePath" value="\\DCSXFLS00009DE.devtest.atohdtnet.gov.au\DCSCORRES_DE\TEMP_TEST\DEM\LOGS\dcs.atogenericservice.log"/>-->
    <add key="LogFilePath" value="C:\ATOApplication\DCS\WinSvcs\Logs\dcs.service.logging.log"/>
    <add key="APIURL" value="http://*:9000"/>
  </appSettings>
  <connectionStrings>
    <add name="OutboundCorroGen" connectionString="Server=outboundDatabaseDE.dcs.devtest.atohdtnet.gov.au\SQL001; database=OutboundDEM;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="Hangfire" connectionString="Server=DCSXSQL00011DT.devtest.atohdtnet.gov.au\SQL001; Database=DCSCompositionHangFireDEM; Trusted_Connection=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>