<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!--<clear />-->
    <!--<add key="ATO" value="\\tfsxbld00039at.product.atotnet.gov.au\HPX_Components_Deployment\packages" />-->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="BaGet" value="http://deviq-sb03:5210/v3/index.json"></add>
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>