<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- <clear /> -->
        <!-- <add key="github" value="https://nuget.pkg.github.com/rcangus/index.json" /> -->
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <!-- <packageSourceCredentials>
        <github>
            <add key="Username" value="rcangus" />
            <add key="ClearTextPassword" value="92c664b4a6ecffb2169789e08c27b2d3b958ce95" />
        </github>
    </packageSourceCredentials> -->
</configuration>
